<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Page</title>
</head>
<body>
    <div class="container">
        <div class="login-wrapper">
            <form method="GET" action="login">
                <button class="login">Login</button>
            </form>
        </div>

        <div class="info-wrapper">
            <h1>XPERT</h1>
            <div class="list">
                <p>Taking your training to the next level<br>
                Keep track of your progress<br>
                Customize your training<br>
                Get access to the exercise catalog created by professionals</p><br>
            </div>
        </div>
    </div>          
    
</body>
</html>

<style>
body{
    margin: 0;
    padding: 0;
    background: rgb(3, 3, 3);
}

.container{
    position: relative;
    text-align: center;
    background-color: rgb(21, 20, 20);
    box-shadow: 10px 10px 5px black;
    background: url('https://media.discordapp.net/attachments/1016780065209602178/1026915590344020059/gym-600.jpg') no-repeat center/cover;
    background-size: cover;
    min-height: 100vh;
    
}

.login-wrapper .login{
    display: inline-block;
    background-color: rgb(64, 5, 5);
    border: 4px double #ccc;
    color: rgb(159, 150, 150);
    font-size: 20px;
    padding: 20px;
    width: 180px;
    transition: all 0.5s;
    margin: 25px;
    margin-top: 288px;
}

.info-wrapper{
    background-color: rgba(218, 214, 214, 0.879);
    margin-top: 100px;
    font-weight: bold;
    opacity: 0.65;
}

.list{
    color: black;
    font-size: large;
}

</style>